mixin partner-head()
	+e.title.h5 Если вы&nbsp;хотите стать нашим партнером, свяжитесь с&nbsp;нами по&nbsp;почте #[a(href="mailto:asroad@asroad.org") asroad@asroad.org] или телефону&nbsp; #[a.strong.text-body(href="tel:+7(495)211-29-88") +7 (495) 211-29-88]
mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section.scrollable#sPartners&attributes(attributes)
		.section-bg
		.section__inner
			.container-fluid
				.row 
					.col-section.col-lg-auto
						+b.section-title-vertical
							+e.inner
								h2( ) Партнеры
								+e.shadow Партнеры
					.col-main.col
						+partner-head()
						+e.group
							+e.group-title Генеральный партнер
							.row
								+logop(1,'ООО «Газпромнефть-СМ»')
						+e.group
							+e.group-title Золотые партнеры
							.row
								+logop(2)
								+logop(3)
						- for (var x = 0; x < 5; x++)
							+e.group
								+e.group-title Информационные партнеры
								.row
									+logop(4)
									+logop(5)
									+logop(6)
									+logop(7)
									+logop(4)
									+logop(5)
									+logop(6)
									+logop(7)
									
						
mixin sPartners10(data)
	// start sPartners
	+b.sPartners--page.section.scrollable#sPartners&attributes(attributes) 
		.container-fluid 
			+partner-head()
			+e.group
				+e.group-title.h4 Генеральный партнер
				.row
					+logoitem(1,'ООО «Газпромнефть-СМ»','col-6','modal')
					+logoitem(1,'ООО «Газпромнефть-СМ»')
			+e.group
				+e.group-title.h4 Золотые партнеры
				.row
					+logoitem(2)
					+logoitem(3) 
				+e.group
					+e.group-title.h4 Информационные партнеры
					.row
						+logoitem(4)
						+logoitem(5)
						+logoitem(6)
						+logoitem(7)
						+logoitem(4)
						+logoitem(5)
						+logoitem(6)
						+logoitem(7)
								
						
						
mixin sPartners11(data)
	// start sPartners
	+b.sPartners--page.section.scrollable#sPartners&attributes(attributes) 
		.container-fluid 
			+b.head-filter(  )
				.row
					+e.col.col-xl-6
						+b.search-block
							+input('Поиск по ФИО')
							+e.btn(type="submit")
								+icon('search')
			+e.group
				+e.group-title.h4 Дилеры
				.row
					+logoitem(1,'ООО «Газпромнефть-СМ»',"col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»',"col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»',"col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»',"col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
			+e.group
				+e.group-title.h4 Информационные технологии
				.row
					+logoitem(2,'', "col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(3,'', "col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(2,'', "col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(3,'', "col-sm-6") 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
				+e.group
					+e.group-title.h4 Автосалоны
					.row
						+logoitem(4,'', "col-sm-6") 
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(5,'', "col-sm-6") 
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(6,'', "col-sm-6") 
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(7,'', "col-sm-6") 
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
								
			+pugin
	// end sPartners
mixin logoitem(i, a, cl="col-6", modal)
	- let ifModal = modal ? "#modal-content" : null
	- let ifModalClass = modal ? "link-modal" : null
	+e.col.col-md-3(class= cl )
		+e.item(class=ifModalClass href=ifModal)
			+pic(`logop-${i}.png`,'',0)
		if block
			block
		else
			.smallest.text-center.pt-2 ООО «Газпромнефть-СМ»
		if modal 
			.d-none 
				+b.logo-modal-content--js
					.row 
						+e.col.col
							p: strong Главный отраслевой форум соберет около 1000 участников — российских автодилеров, автопроизводителей, представителей государственной власти, экспертов отрасли и СМИ.

							p На площадках Конвенции запланированы более 25 мероприятий, в числе которых генеральные сессии, круглые столы и семинары Академии РОАД и партнеров Ассоциации. Важной составляющей Конвенции станет отраслевая выставка, экспоненты которой представят товары и услуги,  На площадках Конвенции запланированы более 25 мероприятий, в числе которых генеральные сессНа площадках Конвенции запланированы более 25 мероприятий, в числе которых генеральные сессии, круглые столы и семинары Академии РОАД и партнеров Ассоциации. Важной составляющей Конвенции станет отраслевая выставка, экспоненты которой представят товары и услуги, ориентированные на повышение эффективности 

							p: strong Приглашаем всех участников авторитейла! 
						+e.aside.col-md-auto
							+e.logo.col-md-12.col-sm-6.col-12 
								+pic(`logop-${i}.png`,'',0)
							+e.btns.col-md-12.col-sm-6.col-12 
								+e.btn(href="#") Официальный сайт
								+e.btn(href="#") Стенд компании



mixin logop(i, a)
	+e.col.col-md-3.col-6 
		+pic(`logop-${i}.png`,'',0)
		if a
			a(href="#")= a 
//- 	+e.slide.swiper-slide 
//- 		+b.speaker-item
//- 			+e.img-wrap.bg-wrap
//- 				img.swiper-lazy.img-bg(data-src=`img/@2x/webp/speak-${i}.webp`, src="#", alt="")
//- 			+e.title= t
//- 			p.strong= pr
//- 			p!= p